<div class="container">
  <div class="flex-btn suspend" *ngIf="productList.length <= 0">
    <button nz-button nzType="primary" (click)="redirectToSuspendedSale()">
      Suspended Sales
    </button>
  </div>

  <div class="customer">
    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
      <nz-select
        nzAutoFocus
        nzShowSearch
        nzAllowClear
        nzServerSearch
        [(ngModel)]="customer"
        [nzShowArrow]="false"
        [nzFilterOption]="nzFilterOption"
        (nzOnSearch)="getAllCustomers($event)"
        nzPlaceHolder="Type here to search Customer"
      >
        <nz-option
          *ngFor="let data of customerList"
          [nzValue]="data"
          [nzLabel]="data.name"
        ></nz-option>
      </nz-select>
    </nz-input-group>
    <ng-template #addOnBeforeTemplate>
      <span
        nz-icon
        nzType="user-add"
        (click)="addCustomer()"
        nzTheme="outline"
      ></span>
    </ng-template>

    <div class="customer-view" *ngIf="customer">
      <div class="name">
        <!-- <span nz-icon nzType="user" nzTheme="outline"></span> -->
        <span>{{ customer.name }}</span>
        <span>{{ customer.phoneNumber }}</span>
      </div>
      <span>{{ customer.vehicleNumber }}</span>
      <span
        nz-icon
        nzType="close"
        (click)="clearCustomer()"
        style="color: red"
        nzTheme="outline"
      ></span>
    </div>
  </div>

  <span>Sales Summary</span>
  <nz-divider></nz-divider>
  <div class="total">
    <div nz-row nzJustify="space-between">
      <span>Sub Total</span><span>{{ subTotal | number : ".2-2" }}</span>
    </div>
    <div nz-row nzJustify="space-between">
      <span>Discount</span
      ><span>
        <input
          *ngIf="productList.length > 0"
          autofocus
          nz-input
          type="number"
          [(ngModel)]="discount"
          (ngModelChange)="calculateDiscount()"
        />
        <span *ngIf="productList.length <= 0">0.00</span></span
      >
    </div>

    <div
      nz-row
      nzJustify="space-between"
      class="addtion"
      *ngIf="productList.length > 0"
    >
      <span>Additonal Amount</span
      ><span>
        <input
          nz-input
          type="number"
          (input)="calculateDiscount()"
          [(ngModel)]="additionalAmount"
      /></span>
    </div>
    <div
      nz-row
      nzJustify="space-between"
      class="addtion"
      *ngIf="productList.length > 0"
    >
      <span>Change fee</span
      ><span>
        <input
          nz-input
          type="number"
          (input)="calculateDiscount()"
          [(ngModel)]="changefee"
      /></span>
    </div>
    <nz-divider></nz-divider>
    <div nz-row nzJustify="space-between">
      <span>Total</span><span>{{ total | number : ".2-2" }}</span>
    </div>
    <div nz-row nzJustify="space-between" *ngIf="productList.length > 0">
      <span>Received Amount</span
      ><span>
        <input nz-input type="number" [(ngModel)]="receivedAmount"
      /></span>
    </div>
    <div nz-row nzJustify="space-between" *ngIf="productList.length > 0">
      <span>Balance</span
      ><span>{{
        receivedAmount
          ? (receivedAmount - total | number : ".2-2")
          : (0 | number : ".2-2")
      }}</span>
    </div>
  </div>
  <div class="cheque" *ngIf="isCheque && productList.length > 0">
    <div nz-row nzJustify="space-between">
      <span>Cheque No: </span>
      <span> <input nz-input type="number" [(ngModel)]="chequeNo" /></span>
    </div>
    <div nz-row nzJustify="space-between" class="date">
      <span>Due Date: </span>
      <span>
        <nz-date-picker
          [(ngModel)]="date"
          (ngModelChange)="changeDate()"
        ></nz-date-picker
      ></span>
    </div>
  </div>
  <div class="flex-btn">
    <nz-radio-group
      [(ngModel)]="paymentMethod"
      [disabled]="productList.length <= 0"
    >
      <label nz-radio-button nzValue="cash" (click)="changetoCash()"
        >Cash</label
      >
      <label nz-radio-button nzValue="cheque" (click)="changetoCheque()">
        Cheque</label
      >
      <label nz-radio-button nzValue="AC" (click)="changetoAC()">AC</label>
    </nz-radio-group>
    <!-- <button
      #myButton
      nz-button
      nzType="primary"
      [disabled]="productList.length <= 0"
      (click)="changetoCash()"
    >
      Cash
    </button>

    <button
      nz-button
      nzType="primary"
      [disabled]="productList.length <= 0"
      (click)="changetoCheque()"
    >
      Cheque
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="changetoAC()"
      [disabled]="productList.length <= 0"
    >
      AC
    </button> -->
  </div>
  <div class="flex-btn complete">
    <button
      nz-button
      nzType="primary"
      *ngIf="productList.length > 0"
      (click)="saveTransaction()"
    >
      Complete Sale
    </button>
  </div>
  <div class="bottom">
    <button
      nz-button
      *ngIf="productList.length > 0"
      type="submit"
      nzType="primary"
      nz-popconfirm
      nzPopconfirmTitle="Are you sure want to hold this Sale?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="holdTransaction()"
    >
      <span nz-icon nzType="pause" nzTheme="outline"></span>HOLD
    </button>
    <button
      nz-popconfirm
      *ngIf="productList.length > 0"
      nzPopconfirmTitle="Are you sure clear this Sale?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="clear()"
      nz-button
      type="submit"
      nzType="primary"
    >
      <span nz-icon nzType="stop" nzTheme="outline"></span>CLEAR
    </button>
  </div>
  <br />

  <button
    nz-button
    [disabled]="products.length <= 0"
    nzType="primary"
    printSectionId="invoice-POS"
    [useExistingCss]="true"
    styleSheetFile="assets/print.css"
    ngxPrint
  >
    <span nz-icon nzType="printer" nzTheme="outline"></span>
  </button>
</div>
<div class="pos-bill" [hidden]="true">
  <div id="invoice-POS">
    <div class="container">
      <div class="receipt_header">
        <span>Shop Name</span>
        <h2>Address: Lorem Ipsum, 1234-5 <span>Tel: +1 012 345 67 89</span></h2>
      </div>

      <div class="receipt_body">
        <div class="date_time_con">
          <div class="date">Bill No: {{ bill?.customId }}</div>
        </div>
        <div class="date_time_con">
          <div class="date">
            {{ bill?.transactionDate | date : "yyyy-MM-dd" }}
          </div>
          <div class="time">{{ bill?.transactionDate | date : "h:mm a" }}</div>
        </div>

        <div class="items">
          <table>
            <thead>
              <th>ITEM</th>
              <th>QTY</th>
              <th>AMT</th>
            </thead>

            <tbody>
              <tr *ngFor="let data of bill?.products">
                <td>
                  {{
                    data?.product?.brand?.name +
                      " " +
                      data?.product?.size +
                      " " +
                      data?.product?.vehicleType?.name
                  }}
                </td>
                <td>{{ data?.quantitySold }}</td>
                <td>{{ data?.amount | number : ".2-2" }}</td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td>Total</td>
                <td></td>
                <td>{{ bill?.totalAmount | number : ".2-2" }}</td>
              </tr>

              <tr>
                <td>Cash</td>
                <td></td>
                <td>{{ bill?.recievedAmount | number : ".2-2" }}</td>
              </tr>

              <tr>
                <td>Change</td>
                <td></td>
                <td>
                  {{
                    bill?.recievedAmount - bill?.totalAmount | number : ".2-2"
                  }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <h3>Thank You!</h3>
    </div>
  </div>
  <!--End Invoice-->
</div>
