<div class="container">
  <div class="suspend" *ngIf="productList.length <= 0">
    <button nz-button nzType="primary" (click)="redirectToSuspendedSale()">
      Suspended Sales
    </button>
  </div>
  <span>Sales Summary</span>
  <nz-divider></nz-divider>
  <div class="total">
    <div nz-row nzJustify="space-between">
      <span>Sub Total</span><span>{{ total | number : ".2-2" }}</span>
    </div>
    <div nz-row nzJustify="space-between">
      <span>Discount</span><span>0.00</span>
    </div>
    <div nz-row nzJustify="space-between">
      <span>VAT</span><span>0.00</span>
    </div>
    <nz-divider></nz-divider>
    <div nz-row nzJustify="space-between">
      <span>Total</span><span>{{ total | number : ".2-2" }}</span>
    </div>
    <div nz-row nzJustify="space-between" *ngIf="isVisible">
      <span>Received Amount</span
      ><span>
        <input autofocus nz-input type="number" [(ngModel)]="receivedAmount"
      /></span>
    </div>
    <div nz-row nzJustify="space-between" *ngIf="isVisible">
      <span>Balance</span
      ><span>{{
        receivedAmount
          ? (receivedAmount - total | number : ".2-2")
          : (0 | number : ".2-2")
      }}</span>
    </div>
  </div>

  <button
    nz-button
    nzType="primary"
    *ngIf="!isVisible"
    [disabled]="productList.length <= 0"
    (click)="openTransaction()"
  >
    Payment
  </button>
  <button
    nz-button
    nzType="primary"
    *ngIf="isVisible"
    (click)="saveTransaction()"
  >
    Complete Sale
  </button>
  <div class="bottom">
    <button
      nz-button
      *ngIf="productList.length > 0"
      type="submit"
      nzType="primary"
      nz-popconfirm
      nzPopconfirmTitle="Are you sure want to hold this Sale?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="holdTransaction()"
    >
      <span nz-icon nzType="pause" nzTheme="outline"></span>HOLD
    </button>
    <button
      nz-popconfirm
      *ngIf="productList.length > 0"
      nzPopconfirmTitle="Are you sure clear this Sale?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="clear()"
      nz-button
      type="submit"
      nzType="primary"
    >
      <span nz-icon nzType="stop" nzTheme="outline"></span>CLEAR
    </button>
  </div>
  <br />

  <button
    nz-button
    [disabled]="products.length <= 0"
    nzType="primary"
    printSectionId="invoice-POS"
    [useExistingCss]="true"
    styleSheetFile="assets/print.css"
    ngxPrint
  >
    <span nz-icon nzType="printer" nzTheme="outline"></span>
  </button>
</div>
<div class="pos-bill" [hidden]="true">
  <div id="invoice-POS">
    <div class="container">
      <div class="receipt_header">
        <span>Shop Name</span>
        <h2>Address: Lorem Ipsum, 1234-5 <span>Tel: +1 012 345 67 89</span></h2>
      </div>

      <div class="receipt_body">
        <div class="date_time_con">
          <div class="date">Bill No: {{ bill?.customId }}</div>
        </div>
        <div class="date_time_con">
          <div class="date">
            {{ bill?.transactionDate | date : "yyyy-MM-dd" }}
          </div>
          <div class="time">{{ bill?.transactionDate | date : "h:mm a" }}</div>
        </div>

        <div class="items">
          <table>
            <thead>
              <th>ITEM</th>
              <th>QTY</th>
              <th>AMT</th>
            </thead>

            <tbody>
              <tr *ngFor="let data of bill?.products">
                <td>
                  {{
                    data?.product?.brand?.name +
                      " " +
                      data?.product?.size +
                      " " +
                      data?.product?.vehicleType?.name
                  }}
                </td>
                <td>{{ data?.quantitySold }}</td>
                <td>{{ data?.amount | number : ".2-2" }}</td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td>Total</td>
                <td></td>
                <td>{{ bill?.totalAmount | number : ".2-2" }}</td>
              </tr>

              <tr>
                <td>Cash</td>
                <td></td>
                <td>{{ bill?.recievedAmount | number : ".2-2" }}</td>
              </tr>

              <tr>
                <td>Change</td>
                <td></td>
                <td>
                  {{
                    bill?.recievedAmount - bill?.totalAmount | number : ".2-2"
                  }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <h3>Thank You!</h3>
    </div>
  </div>
  <!--End Invoice-->
</div>
