<div class="container">
  <div class="filter">
    <nz-range-picker
      [(ngModel)]="date"
      (ngModelChange)="getAllChequeTransaction()"
    ></nz-range-picker>
    <!-- <button nz-button nzType="primary" (click)="download()">Download</button> -->
  </div>

  <!-- <div class="amount">
      <span
        >Current Month Transaction: Rs
        {{ currentMonthAverage | number : ".2-2" }}</span
      >
    </div> -->
  <div class="table">
    <nz-table
      [nzFrontPagination]="false"
      [nzScroll]="{ x: '100%' }"
      #basicTable
      [nzData]="dataSet"
    >
      <thead>
        <tr>
          <th>Bill NO.</th>
          <th>Cheque No.</th>
          <th>Date</th>
          <th>Customer Name</th>
          <th>Total Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.customId }}</td>
          <td>{{ data.chequeNo }}</td>
          <td>{{ data.transactionDate | date : "medium" }}</td>
          <td>{{ data?.customer?.name | titlecase }}</td>
          <td>{{ data.totalPrice | number : ".2-2" }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure want to complete this Transaction?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="complete(data._id)"
            >
              Complete
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="pagination">
      <nz-pagination
        [nzPageIndex]="page"
        [nzTotal]="total"
        [nzPageSize]="limit"
        [nzShowTotal]="rangeTemplate"
        (nzPageIndexChange)="changePage($event)"
      ></nz-pagination>
      <ng-template #totalTemplate let-total
        >Total {{ total }} items</ng-template
      >
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </div>
  </div>
</div>
